{% macro image_above_text(image, heading, body) %}
    <div class="card">
      <img class="mx-auto" src="{{image}}">
      <h3 class="pt-6 text-lg text-gray-900 font-bold leading-tight">{{heading}}</h3>
      <p class="py-4">{{body}}</p>		
    </div>
{% endmacro %} 