<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles.css"/>
		<title>{{title}}</title>
	</head>


	<body class="bg-grey-200 text-gray-600 text-md">
		<div class="container mx-auto px-4 lg:px-0">
			<header>
				<img class="pt-16" src="images/dwkns-logo.png" alt="dwkns logo">
				<h1 class="pt-4 text-xl text-gray-900 font-bold leading-tight max-w-sm">Digital consultancy & production for discerning clients</h1>
			</header>

			{{ content | safe }}

			<footer>

				<div class="px-4 lg:px-0 mt-8 mb-8 text-xs">
					<div class="flex flex-wrap -mx-2">
						<p class="w-1/2 px-2">
							<a href="mailto:dwkns@me.com">Contact</a>
							<span class="invisible">cf</span>
						</p>
						<p class="w-1/2 text-right px-2">
							<a href="https://beta.companieshouse.gov.uk/company/08169880">dwkns ltd ©2029</a>
						</p>
					</div>
				</div>

			</footer>
		</div>

		<script type="module" src="/index.js" async defer></script>
	</body>
</html>
